html, body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    overflow: auto; 
    background-color: rgb(30,32,36);
    color:white;
    font-family: "Times New Roman"
  }


#main {
  height: 100%;
  width: 100%;

}

.login {
    text-align: center;
    margin-top: 30vh;
}
.login * {
    margin: 5px;
    font-size: 20px;
}
.login p {
    font-size:60px;
    margin-bottom: 40px;
}


.titleContainer {
  border-style: solid;
  border-radius: 3px;
  border-width:1px;
  border-color:rgb(40,42,47);
  padding:8px;
  font-size: 15px;
  font-family: "Times New Roman"
}

.status {
  height:90%;
  width:90%;
  border-radius: 3px;
}

.successEntry {
  background-color: rgb(52,72,34);
}

.successEntry:hover {
  background-color: rgb(102,166,30);
  width:95%;
  height:95%;
}

.failedEntry {
  background-color: rgb(217,95,2);
}

.failedEntry:hover {
  background-color: rgb(217,95,2);
  width:95%;
  height:95%;
}

.inProgressEntry {
  background-color: rgb(117,112,179);
}
.testName {
  background-color: rgb(30,32,36);
  border-style:solid;
  width:25px;
  height:25px;
  border-radius:5px;
  border-width:1px;
  border-color:rgb(40,42,47);
}



.mainTable {
  border-spacing: 0px;
  border-style: solid;
  border-color:gray;
  border-width:2px;
}


th {
  padding:2px;
  height: 20px;
}

tr {
  background-color  : rgb(17,19,24);
}
tr:nth-child(2n + 1) {
  background-color: gray;
}
tr:nth-child(1), tr:nth-child(2) {
  background: rgb(17,19,24);
}
  

.popup {
  border-style: solid;
  border-width:1px;
  position:fixed;
  top: 50%;
  left: 50%;
  background-color: rgb(30,32,36);
  height:400px;
  width: 400px;
  transform: translate(-50%, -50%);
}

.successStep {
  background-color: rgb(102,166,30);
}

.failedStep {
  background-color: rgb(217,95,2);
}

.stepTable {
  border-spacing: 0px 3px;
}

.exitButton {
  position: fixed;
  top:0px;
  right:0px;
}

.hide {
  visibility: hidden;
}